**/.vs
**/bin
**/obj

**/build
**/dist
#**/nbproject

*.zip
build.xml
manifest.mf
/Algorithms/Lab5/LambdaExpressionProject/nbproject/private/
/Algorithms/Lab5/LambdaHashMapFacultyProject/nbproject/private/
/Algorithms/Lab5/LambdaTripProject/nbproject/private/
/Algorithms/Lab6/NameIteratorPatternProject/nbproject/private/
/Algorithms/Lab6/DesignPatternsFacultyProject/nbproject/private/
/Algorithms/Lab6/CourseSingletonPatternProject/nbproject/private/
/Algorithms/Lab6/CourseMVCPatternProject/nbproject/private/
