@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
}

h2 {
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 20px auto;
}

button {
    border: unset;
    padding: 5px 10px;
    cursor: pointer;
    margin: 10px 5px;
}

.error-message {
    text-align: center;
    color: red;
    font-size: smaller;
}

table {
    margin: 20px auto;
}